.editorContainer {
  img {
    width: 100%;
    height: auto;
  }
}

.footer {
  border-top: 1px solid var(--border-color) !important;
}

.Segmented_wrapper {
  background-color: var(--segment-bg);
  color: var(--font-primary);

  :hover {
    color: var(--font-primary);
  }
}

.assignment_type_radio {
  align-items: start;
  padding: 5px;
  border: 1px solid var(--border-color) !important;
  border-radius: var(--border-radius) !important;
  min-width: 228px !important;
  width: 100%;
}
